<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>
            Quản lý dữ liệu
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href=@Url.Action("index","product") class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý sản phẩm</p>
            </a>
        </li>
        <li class="nav-item">
            <a href=@Url.Action("index","category") class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý danh mục</p>
            </a>
        </li>
        <li class="nav-item">
            <a href=@Url.Action("index","brand") class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý thương hiệu</p>
            </a>
        </li>
        <li class="nav-item">
            <a href=@Url.Action("index","user") class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý người dùng</p>
            </a>
        </li>
    </ul>
</li>